<div class="mini-nav">
  <ul>
    <li onclick="location.href='/gallery'"><%= miniNavGalleryLang.home %></li>
    <li onclick="location.href='/gallery/drive'"><%= miniNavGalleryLang.driveSystem %></li>
    <li onclick="location.href='/gallery/robot'"><%= miniNavGalleryLang.robot %></li>
    <li onclick="location.href='/gallery/sorter'"><%= miniNavGalleryLang.sorter %></li>
    <li onclick="location.href='/gallery/thrower'"><%= miniNavGalleryLang.thrower %></li>
  </ul>
</div>
