<div class="mini-nav nav-constrained">
  <ul>
    <li onclick="location.href='/job/sorter'"><%= miniNavLang.sorter %></li>
    <li onclick="location.href='/job/electrical'"><%= miniNavLang.electricalSetup %></li>
    <li onclick="location.href='/job/program'"><%= miniNavLang.program %></li>
    <li onclick="location.href='/job/drive'"><%= miniNavLang.driveSystem %></li>
    <li onclick="location.href='/job/pickup'"><%= miniNavLang.pickupOfBalls %></li>
    <li onclick="location.href='/job/thrower'"><%= miniNavLang.thrower %></li>
    <li onclick="location.href='/job/movie'"><%= miniNavLang.movie %></li>
    <li onclick="location.href='/job/website'"><%= miniNavLang.website %></li>
    <li onclick="location.href='/job/game'"><%= miniNavLang.gameTerrainSimulation %></li>
    <li onclick="location.href='/job/supervisors'"><%= miniNavLang.supervisors %></li>
  </ul>
</div>
