<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/writtenDocuments-1.css">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <title><%= category %></title>
  </head>
  <body>
    <%- include ../partials/navbar.ejs %>
    <div class="all-data written-documents">
      <div class="left-console">
        <h2><%= language.searchDocuments %></h2>
        <h3 onclick="location.href='/documents/design';"><%= language.robotDesign %></h3>
        <ul>

          <% for (var i = 0; i < design.length; i++) {%>
            <li onclick="location.href='/document/<%= design[i].name %>';"><%= design[i].title %></li>
          <%}%>

        </ul>
        <h3 onclick="location.href='/documents/experience';"><%= language.studentExperience %></h3>
        <ul>

          <% for (var i = 0; i < experience.length; i++) {%>
            <li onclick="location.href='/document/<%= experience[i].name %>';"><%= experience[i].title %></li>
          <%}%>

        </ul>
        <div class="blank-space-extension"></div>

      </div>
      <!-- <div class="vertical-line"></div> -->
      <div class="main-console">
        <h2 id="written-documents"><%= language.writtenDocuments %></h2>
        <h2 id="robot-design"><%= category %></h2>

        <% if (pureCat == "design") { %>

          <% for (var i = 0; i < design.length; i++) {%>

            <div class="product-main">
              <img src="<%= design[i].image %>" alt="<%= design[i].title %>">
              <div class="product-main-description">
                <h2 onclick="location.href='/document/<%= design[i].name %>';"><%= design[i].title %>
                  <span class="attribution"><%= language.by %> <%= design[i].author %></span>
                  <span class="word-count"><%= design[i].text.split(" ").length %> <%= language.words %> </span>
                </h2>
              </div>
            </div>

          <%}%>

        <% } else if (pureCat == "experience"){%>

          <% for (var i = 0; i < experience.length; i++) {%>

            <div class="product-main">
              <img src="<%= experience[i].image %>" alt="<%= experience[i].title %>">
              <div class="product-main-description">
                <h2 onclick="location.href='/document/<%= experience[i].name %>';"><%= experience[i].title %>
                  <span class="attribution"><%= language.by %> <%= experience[i].author %></span>
                  <span class="word-count"><%= experience[i].text.split(" ").length %> <%= language.words %> </span>
                </h2>
              </div>
            </div>

          <%}%>

        <% }%>

      </div>
    </div>
    <script src="../scripts/locale.js"></script>
  </body>
</html>
